*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 40px;
}
.header-h1 {
    margin-left: 77px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin-top: 20px;
    color: #333333;
}
.section-warning {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 118.78px;
    
}
.container-img{
    width: 539.22px;
    height: 447.43px;
}
.container-warning{

}
.section-warning-img {
    height: 100%;
    width: 100%;
}
.section-warning-h2 {
    width: 586px;
    height: 190px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}
.section-warning-text {
    width: 586px;
    height: 108px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    margin-top: 36px;
}
.section-warning-button {
    background: #333333;
    width: 216px;
    height: 68px;
    margin-top: 64px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer{
    display: flex;
    justify-content: center;
}
.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
    margin-bottom: 24px;
    margin-top: 50px;
}

@media(max-width: 375px){
    section{
        flex-direction: column;
    }
    .container-img{
    width: 286.83px;
    height: 238px;
}
.section-warning-h2{
    width: 350px;
    height: 142px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
}
.section-warning-text{
    
    width: 328px;
    height: 81px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
}
.header-h1{
    width: 133px;
    height: 25px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    background-color: aqua;
}
.section-warning-button{
    width: 216px;
    height: 68px;
}

.section-warning{
    align-items: center;
}
footer{
    background-color: brown;
}
.footer-text{
width: 287px;
height: 17px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: #BDBDBD;
}
}


